@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  @apply bg-gradient-default;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {}

button {
  @apply cursor-pointer outline-none;
}

button:focus {
  @apply outline-none;
}

.responsive-emoji {
  @apply w-emoji-sm md:w-emoji-md lg:w-emoji-lg h-auto;
}